body {
    background: url('https://www.publicdomainpictures.net/pictures/30000/velka/military-background.jpg') no-repeat center center fixed; 
    background-size: cover;
    margin: 20px;
    color: #fff;
}

.container {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semitransparente */
    padding: 20px;
    border-radius: 10px;
}

footer {
    background-color: #343a40;
    padding: 20px 0;
    color: white;
}

footer .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

footer .social-icons a {
    font-size: 24px;
    margin-right: 15px;
    color: white; /* Definir a cor inicial dos ícones */
    transition: color 0.3s ease; /* Transição suave */
    text-decoration: none; /* Remove o sublinhado dos links */
}

footer .social-icons a:hover {
    color: #1d77ff !important; /* Mudar para azul no hover */
    text-decoration: none; /* Garante que não apareça sublinhado no hover */
}


footer a {
    color: white;
    margin: 0;
    text-decoration: none;
    transition: color 0.3s ease; /* Transição suave */
}

footer a:hover{
    color: #1d77ff !important; /* Mudar para azul no hover */
}

.result {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#errorMessage {
    color: red;
    font-weight: bold;
}

#tempoDeServicoTitle {
    font-size: 1.2rem;
    color: white;
}

.text-black {
    color: black !important;
}
