body {
    background: url('https://www.publicdomainpictures.net/pictures/30000/velka/military-background.jpg') no-repeat center center fixed; 
    background-size: cover;
    margin: 20px;
    color: #fff;
}

.container {
    max-width: 600px;
    background-image: linear-gradient(rgb(131, 125, 125), rgb(43, 38, 38)); /* Cor de fundo semitransparente */
    padding: 20px;
    border-radius: 20px;
}

footer {
    background-image: linear-gradient(rgb(131, 125, 125), rgb(43, 38, 38));
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e9ecef;
    color: #fdfdfd;
}

.result {
    font-size: 1.5rem; /* Aumenta o tamanho da fonte */
    color: rgb(255, 255, 255); /* Cor branca para o texto do resultado */
}

#errorMessage {
    color: red; /* Cor vermelha para a mensagem de erro no modal */
    font-weight: bold;
}

/* Diminuir o tamanho da fonte do texto "Tempo de Serviço Total:" */
#tempoDeServicoTitle {
    font-size: 1.2rem; /* Ajuste o tamanho conforme desejado */
    color: white;
}
